/** RESET **/

*{color: #1F2D30;font-family: 'Montserrat', sans-serif;}
body{padding: 0;margin: 0;}
figure{margin: 0;}
ul{list-style: none;margin: 0;padding: 0;}
a{text-decoration: none;display: block;}
.marcador{outline:1px solid red;outline-offset: -1px;}
.click{cursor: pointer;}
.clear{clear: both;}
.esquerda{float: left;}
.direita{float: right;}
.upper{text-transform: uppercase;}
.suave{transition-duration: .3s;-webkit-transition-duration: .3s;-moz-transition-duration: .3s;-o-transition-duration: .3s;}



/** CORES **/

.azul-p{background-color: #18ACC4;}
.azul-s{background-color: #007A8D;}
.azul-p-text{color: #18ACC4;}
.azul-s-text{color: #007A8D;}
.amarelo-p{background-color: #FDCB13;}
.amarelo-s{background-color: #DE9E1F;}
.amarelo-p-text{color: #FDCB13;}
.amarelo-s-text{color: #DE9E1F;}
.verde{background-color: #0FA866;}
.verde-text{color: #0FA866;}
.preto{background-color: #1F2D30;}
.cinza{background-color: #FBFBFB;}
.branco{background-color: #FFFFFF;}
.branco-text{color: #FFFFFF;}

/** HEADER **/

header{overflow: hidden;height: 60px;box-shadow: 0px 5px 8px rgba(29, 43, 46,.15);position: relative;z-index: 1;}
header .grande{display: none !important;}
header .ajuda{width:60px;height:60px;float: left;text-align: center;padding-top: 12px;position: relative;}
header .ajuda::before{content: "";width: 2px;height: 44px;background-color: #dedede;position: absolute;top:8px;left: 100%;}
header .ajuda i{display: block;font-size: 22px;margin-bottom: 3px;}
header .ajuda span{display: block;font-size: 12px;font-weight: bold;}
header .logo{width:calc(100% - 140px);float: left;}
header .logo img{height: 40px;margin: 10px auto;display:block;}
header .conta{width:60px;height:60px;float: right;text-align: center;padding-top: 12px;position: relative;}
header .conta::before{content: "";width: 2px;height: 44px;background-color: #dedede;position: absolute;top:8px;right: 100%;}
header .conta i{display: block;font-size: 22px;margin-bottom: 3px;}
header .conta span{display: block;font-size: 12px;font-weight: bold;}

.menu{min-height: 50px;position: relative;z-index: 1;}
.menu h5{margin: 0;line-height: 50px;padding: 0 16px;font-size: 15px;}
.menu h5 span{float: right;}
.menu h5 span i{margin-left: 5px;}
.menu ul{margin: 0;display: none;}
.menu ul li{height: 40px;font-size: 16px;line-height: 40px;}
.menu ul li a{padding: 0 16px;color: white;}

.modal{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background-color: rgba(31, 45, 48, .88);z-index: 100;opacity: 0;visibility: hidden;}
.modal.active{opacity: 1;visibility: visible;}
.modal .fechar{line-height: 50px;width: 50px;text-align: center;float: right;font-size: 22px;}
.modal .box{padding: 16px;overflow: auto;height: calc(100vh - 50px);box-sizing: border-box;opacity: 0;visibility: hidden;}
.modal.active .box{opacity: 1;visibility: visible;transition-delay: .3s;-webkit-transition-delay: .3s;-moz-transition-delay: .3s;-o-transition-delay: .3s;}
.modal .box h4{font-size: 22px;margin-top: 10px;margin-bottom: 0;}
.modal .box p{margin-top: 0;font-size: 14px;}
.modal .box h6{text-transform: uppercase;margin-bottom: 4px;}
.modal .box select{height: 40px;width: 100%;border: 1px solid #dedede;border-radius: 5px;padding: 0 10px;-webkit-appearance: none;-moz-appearance: none;appearance: none;-ms-word-break: normal;word-break: normal;}
.modal .box select:focus{outline-color: #18ACC4;}
.modal .box select::-ms-expand {display: none;}
.modal .box .metade{width: 100%;}
.modal .box .opcao{overflow: hidden;font-size: 14px;float: left;margin-right: 30px;margin-top: 18px;}
.modal .box .opcao input{float: left;margin-right: 10px;}
.modal .box .opcao span{position: relative;width: 17px;height: 17px;border:1px solid #1F2D30;border-radius: 3px;display: block;float: left;margin-right: 10px;}
.modal .box .opcao span.active{background-color: #18ACC4;border-color: #18ACC4;}
.modal .box .opcao span.active::before{content: "";width: 5px;height: 8px;border-right: 3px solid white;border-bottom: 3px solid white;position: absolute;top: 1px;left: 5px;transform: rotate(45deg);}
.modal .box .opcao span input{opacity: 0;margin: 0;padding: 0;width: 18px;position: relative;cursor: pointer;}
.modal .box input[type=range] {-webkit-appearance: none;width: 100%;margin: 13.5px 0;}
.modal .box input[type=range]:focus {outline: none;}
.modal .box input[type=range]::-webkit-slider-runnable-track {width: 100%;height: 3px;cursor: pointer;box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);background: #18acc4;border-radius: 4px;border: 0px solid #000000;}
.modal .box input[type=range]::-webkit-slider-thumb {box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;border: 2px solid #18acc4;height: 30px;width: 30px;border-radius: 15px;background: #ffffff;cursor: pointer;-webkit-appearance: none;margin-top: -13.5px;}
.modal .box input[type=range]:focus::-webkit-slider-runnable-track {background: #18acc4;}
.modal .box input[type=range]::-moz-range-track {width: 100%;height: 3px;cursor: pointer;box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);background: #18acc4;border-radius: 4px;border: 0px solid #000000;}
.modal .box input[type=range]::-moz-range-thumb {box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;border: 2px solid #18acc4;height: 30px;width: 30px;border-radius: 15px;background: #ffffff;cursor: pointer;}
.modal .box input[type=range]::-ms-track {width: 100%;height: 3px;cursor: pointer;background: transparent;border-color: transparent;color: transparent;}
.modal .box input[type=range]::-ms-fill-lower {background: #18acc4;border: 0px solid #000000;border-radius: 8px;box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);}
.modal .box input[type=range]::-ms-fill-upper {background: #18acc4;border: 0px solid #000000;border-radius: 8px;box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);}
.modal .box input[type=range]::-ms-thumb {box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;border: 2px solid #18acc4;height: 30px;width: 30px;border-radius: 15px;background: #ffffff;cursor: pointer;height: 3px;}
.modal .box input[type=range]:focus::-ms-fill-lower {background: #18acc4;}
.modal .box input[type=range]:focus::-ms-fill-upper {background: #18acc4;}
.modal .box .filtro{position: relative;height: 40px;}
.modal .box .filtro select{width: auto;border: 0;color: #007A8D;font-weight: bold;float: right;font-size: 14px;padding-right: 24px;}
.modal .box .filtro select:focus{outline: none;}
.modal .box .filtro::after{content: '\f078';font: normal normal normal 16px/1 FontAwesome;color: #007A8D;right: 0;top: 12px;height: 34px;position: absolute;pointer-events: none;}
.modal .box #resultados{border-top: 2px solid #dedede;}
.modal .box #resultados li{overflow: hidden;padding: 16px 0 20px 0;border-bottom: 2px solid #dedede;position: relative;width: 100%;}
.modal .box #resultados li.city-on{display: block;}
.modal .box #resultados li.city-off{display: none;}
.modal .box #resultados li.city-on.curso-on{display: block;}
.modal .box #resultados li.city-on.curso-off{display: none;}
.modal .box #resultados li.city-on.presencial-on{display: block;}
.modal .box #resultados li.city-on.presencial-off{display: none;}
.modal .box #resultados li.city-on.ead-on{display: block;}
.modal .box #resultados li.city-on.ead-off{display: none;}
.modal .box #resultados li.city-on.valor-on{display: block;}
.modal .box #resultados li.city-on.valor-off{display: none;}
.modal .box #resultados li.city-on.ead-off.valor-on,
.modal .box #resultados li.city-on.presencial-off.valor-on{display: none;}
.modal .box #resultados li.city-on.curso-on.presencial-on,
.modal .box #resultados li.city-on.curso-on.ead-on{display: block;}
.modal .box #resultados li.city-on.curso-off.presencial-on,
.modal .box #resultados li.city-on.curso-off.ead-on{display: none;}
.modal .box #resultados li.city-on.curso-on.presencial-on.valor-on,
.modal .box #resultados li.city-on.curso-on.ead-on.valor-on{display: block;}
.modal .box #resultados li.city-on.curso-on.presencial-on.valor-off,
.modal .box #resultados li.city-on.curso-on.ead-on.valor-off,
.modal .box #resultados li.city-on.curso-on.ead-off.valor-off{display: none;}
.modal .box #resultados li .checkbox{width: 10%;height:100%;position: absolute;top: 0;left: 0;}
.modal .box #resultados li .checkbox span{position: relative;top: 50%;transform: translateY(-50%);width: 14px;height: 14px;border:1px solid #1F2D30;border-radius: 3px;}
.modal .box #resultados li .checkbox span.active{background-color: #18ACC4;border-color: #18ACC4;}
.modal .box #resultados li .checkbox span.active::before{content: "";width: 5px;height: 10px;border-right: 3px solid white;border-bottom: 3px solid white;position: absolute;top: 1px;left: 5px;transform: rotate(45deg);}
.modal .box #resultados li .checkbox span input{opacity: 0;margin: 0;padding: 0;width: 18px;position: relative;cursor: pointer;}
.modal .box #resultados li figure{width: 40%;height: 100%;position: absolute;top: 0;left: 10%;}
.modal .box #resultados li figure img{width: 100%;position: relative;top: 50%;transform: translateY(-50%);padding: 0 25px 0 5px;box-sizing: border-box;}
.modal .box #resultados li .infos{width: 50%;float: right;}
.modal .box #resultados li .infos h6{margin: 0;text-transform: initial;}
.modal .box #resultados li .infos h6.curso-nome{font-size: 16px;line-height: 24px;}
.modal .box #resultados li .infos h6.curso-tipo{margin-bottom: 20px;}
.modal .box #resultados li .infos h6.curso-desconto{font-size: 16px;font-weight: 500;}
.modal .box #resultados li .infos h6.curso-valor{font-size: 16px;margin-top: 4px;}
.modal .box #resultados li .infos h6 b{font-weight: bold;}
.modal .box button{line-height: 40px;border-radius: 5px;padding: 0 26px;background-color: transparent;border: 1px solid #007A8D;color: #007A8D;font-weight: bold;margin: 25px 0;}
.modal .box button.inactive{background-color: #dedede;border-color: #999;color: #777;}
.modal .box button.active{background-color: #FDCB13;border-color: #DE9E1F;color: #000;}
.modal form .pequeno{display: block;}
.modal form .grande{display: none;}

main{padding: 16px;}
main .breadcrumb{margin-top: 10px;}
main .breadcrumb a{font-size: 14px;}
main .breadcrumb a i{color: #007A8D;margin-right: 10px;}
main .breadcrumb a b{color: #007A8D;}
main .breadcrumb .pequeno{display: block;}
main .breadcrumb .grande{display: none;}

main .conteudo h2{font-size: 28px;margin-top: 30px;margin-bottom: 0;}
main .conteudo p{font-size: 14px;line-height: 26px;}

main .semestres{margin: 30px 0;}
main .semestres ul li{text-align: center;line-height: 40px;border: 1px solid #007A8D;background-color: #ffffff;font-size: 14px;}
main .semestres ul li b{color: #007A8D;}
main .semestres ul li:first-child{background-color: #007A8D;border-radius: 5px 5px 0 0;}
main .semestres ul li:first-child b{color: white;}
main .semestres ul li:last-child{border-radius: 0 0 5px 5px;}

.bolsas{margin-bottom: 30px;}
.bolsas .add-bolsa{box-shadow: 0px 4px 7px rgba(29, 43, 46,.15);text-align: center;padding: 30px;}
.bolsas .add-bolsa i{width: 60px;height: 60px;line-height: 60px;border: 2px solid #18ACC4;border-radius: 40px;font-size: 36px;box-sizing: border-box;margin-bottom:24px;}
.bolsas .add-bolsa h6{font-size: 16px;font-weight: bold;margin: 0;}
.bolsas .add-bolsa p{line-height: 24px;margin-top: 8px;font-size: 14px;}
.bolsas #bolsas-selecionadas li{box-shadow: 0px 4px 7px rgba(29, 43, 46,.15);padding: 16px;box-sizing: border-box;overflow: hidden;margin-top: 16px;text-align: center;}
.bolsas #bolsas-selecionadas li img{margin-top: 16px;}
.bolsas #bolsas-selecionadas li h6{margin: 0;font-weight: 600;font-size: 14px;}
.bolsas #bolsas-selecionadas li h6.curso-instituicao{margin-top: 25px;}
.bolsas #bolsas-selecionadas li h6.curso-nome{margin-top: 5px;margin-bottom: 20px;}
.bolsas #bolsas-selecionadas li .curso-nota{margin-right: 6px;display: inline-block;font-size: 16px;font-weight: bold;}
.bolsas #bolsas-selecionadas li .periodo{margin: 12px 0 20px 0;border-top: 2px solid #dedede;border-bottom: 2px solid #dedede;}
.bolsas #bolsas-selecionadas li .periodo h6{margin: 20px 0 0 0;}
.bolsas #bolsas-selecionadas li .periodo h6 span{width: 4px;height: 4px;border-radius: 3px;background-color: #000000;display: inline-block;margin: 0 5px;}
.bolsas #bolsas-selecionadas li .periodo p{margin: 20px 0;font-size: 14px;}
.bolsas #bolsas-selecionadas li .mensalidade h6{margin-bottom: 20px;}
.bolsas #bolsas-selecionadas li .mensalidade span{font-size: 14px;text-decoration-style: wavy;}
.bolsas #bolsas-selecionadas li .mensalidade h5{margin: 0;font-size: 14px;}
.bolsas #bolsas-selecionadas li .mensalidade h5 b{font-size: 18px;}
.bolsas #bolsas-selecionadas li .mensalidade p{font-size: 14px;}
.bolsas #bolsas-selecionadas li button{line-height: 40px;border-radius: 5px;padding: 0 32px;background-color: transparent;border: 1px solid #007A8D;color: #007A8D;font-weight: bold;margin: 25px 0 0 0;}
.bolsas #bolsas-selecionadas li button.inactive{background-color: #dedede;border-color: #999;color: #777;}
.bolsas #bolsas-selecionadas li button.active{background-color: #FDCB13;border-color: #DE9E1F;color: #000000;}

footer .contatos ul{overflow: hidden;}
footer .contatos ul li{width: 33.333%;float: left;text-align: center;padding: 10px 0;overflow: hidden;box-sizing: border-box;font-size: 14px;}
footer .contatos ul li:first-child{width: 100%;text-align: left;padding: 16px 60px;border-bottom: 2px solid #50d3e8;}
footer .contatos ul li:first-child i{float: left;margin-right: 16px;}
footer .contatos ul li:nth-child(3){border-left: 2px solid #50d3e8;border-right: 2px solid #50d3e8;}
footer .contatos ul li b{display: block;color:white;margin-bottom: 6px;}
footer .contatos ul li h6{margin: 0;color:white;font-weight: 500;font-size: 11px;}
footer .contatos ul li i{width: 40px;height: 40px;line-height: 40px;text-align: center;color:white;font-size: 28px;}
footer .rodape{padding: 35px;text-align: center;font-size: 12px;font-weight: bold;}
footer .pequeno{display: block !important;}
footer .grande{display: none !important;}

@media only screen and ( min-width: 481px ){
    header{padding: 10px 100px;position: relative;}
    header .pequeno{display: none !important;}
    header .grande{display: block !important;}
    header .ajuda{width: 150px;}
    header .ajuda i{float: left;line-height: 36px;font-size: 28px;}
    header .ajuda span{float: left;line-height: 36px;margin-left: 16px;}
    header .whatsapp{width: 220px;float: left;padding-left: 16px;font-size: 28px;padding-top: 12px;}
    header .whatsapp i{float: left;line-height: 36px;}
    header .whatsapp span{float: left;font-size: 12px;margin-left: 16px;font-weight: 600;color: #007A8D;}
    header .whatsapp span b{font-size: 18px;display: block;color: #007A8D;}
    header .logo{width: auto;position: absolute;top: 10px;left: 50%;transform: translateX(-50%);}
    header .conta{width: 200px;}
    header .conta::before{display: none;}
    header .conta i{float: right;line-height: 36px;}
    header .conta span{float: right;line-height: 36px;margin-right: 16px;}

    .menu{padding: 0 100px;min-height: 40px;}
    .menu h5{display: inline-block;line-height: 40px;}
    .menu nav{display: inline-block;}
    .menu nav ul{display: block;}
    .menu nav ul li{display: inline-block;font-size: 13px;font-weight: 600;}
    .menu nav ul li.active{background-color: #007A8D;}
    .menu .menu-btn{display: none;}

    main{padding: 0 100px;overflow: hidden;}
    main .breadcrumb{margin-top: 26px;}
    main .breadcrumb .pequeno{display: none !important;}
    main .breadcrumb .grande{display: block !important;}
    main .breadcrumb ul li{display: inline-block;}

    main .semestres{text-align: right;}
    main .semestres ul{overflow: hidden;display: inline-block}
    main .semestres ul li{float: left;padding: 0 26px;}
    main .semestres ul li:first-child{border-radius: 5px 0 0 5px;}
    main .semestres ul li:last-child{border-radius: 0 5px 5px 0;}

    main .bolsas{position: relative;padding-bottom: 30px;overflow: hidden;}
    main .bolsas .add-bolsa{box-sizing: border-box;width: calc(25% - 20px);margin: 0 10px;padding: 189px 30px;margin-top: 16px;float: left;}
    main .bolsas .add-bolsa p{font-size: 12px;}
    main .bolsas ul{position: relative;top: 0;left: 0;width: 100%;}
    main .bolsas ul li{width: calc(25% - 20px);float: left;margin: 0 10px;}
    main .bolsas #bolsas-selecionadas li{height: 550px;}
    main .bolsas #bolsas-selecionadas li figure{height: 140px;position: relative;}
    main .bolsas #bolsas-selecionadas li figure img{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
    main .bolsas #bolsas-selecionadas li .mensalidade p{margin-bottom: 9px;}

    .modal{overflow: auto;}
    .modal form{width: 600px;position: absolute;top: 0;left: calc(50% - 300px);}
    .modal .box{padding: 30px;height: auto;}
    .modal .box .opcao{margin-right: 18px;}
    .modal .box #resultados li{padding: 36px 0;}
    .modal .box #resultados li .checkbox{width: 30px;}
    .modal .box #resultados li .checkbox span{top: 43%;}
    .modal .box #resultados li figure{width: 100px;left: 30px;}
    .modal .box #resultados li figure img{padding: 0;box-sizing: border-box;}
    .modal .box #resultados li .infos{width: calc(100% - 130px);}
    .modal .box #resultados li .infos h6.curso-tipo{margin-bottom: 0;}
    .modal .box #resultados li .infos .metade.esquerda{padding-left: 16px;}
    .modal .box #resultados li .infos .metade.direita{text-align: right;}
    .modal .box button{margin-bottom: 0;margin-left: 16px;float: right !important;}
    .modal form .metade{width: calc(50% - 8px);}
    .modal form .metade.esquerda{float: left;}
    .modal form .metade.direita{float: right;}
    .modal form .pequeno{display: none;}
    .modal form .grande{display: block;}

    footer .contatos ul{padding: 0 100px;background-color: #007A8D;}
    footer .contatos ul li{width: 25% !important;border: 0 !important;padding: 30px 50px !important;text-align: left;}
    footer .contatos ul li i{float: left;margin-right: 20px;}
    footer .pequeno{display: none !important;}
    footer .grande{display: block !important;}
}

